body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dcdcdc;
}
/* 
#heading {
    margin-top: 200px;
    margin-left: 140px;
} */

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-top: 50%;
    /* margin-left: px; */
    /* border: 4px solid; */
    /* border-radius: 50px; */
}

#display {
    font-size: 5rem;
    /* font-family: monospace; */
    font-weight: bold;
    color:#f92c78;
    margin-bottom: 25px;
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transform: background-color 0.5s ease ;
}

#startBtn {
    background-color: #f92c78;
}
#startBtn:hover {
    background-color: #f18eb2;
}
#stopBtn {
    background-color: #f92c78;
}
#stopBtn:hover {
    background-color: #f18eb2;
}
#resetBtn {
    background-color: #f92c78;
}
#resetBtn:hover {
    background-color: #f18eb2; 
}